@tailwind base;
@tailwind components;
@tailwind utilities;


background {
    height: 979px;
    width: 1440px;
    left: 1405px;
    top: -1609px;
    border-radius: 0px;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}