@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Clash Display', sans-serif;
}


.bg-image {
    background-image: url('/public/assets/loginRegisterPage/header.png');
    background-size: cover;
    background-position: center;
  }
  