body {
    background-image: url('background.png');
}

.kotakPutih {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 28px;

    position: absolute;
    width: 515px;
    height: 850px;
    left: 500px;
    top: 117px;

    background: #FFFFFF;
    /* login register card */

    box-shadow: 2px 4px 20px 5px rgba(130, 0, 20, 0.62);
    border-radius: 40px;
}

.fontDaftar {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;

    line-height: 35px;
    /* identical to box height */
    color: #000000;

}

.fontBuatAkun {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 45px;
    /* identical to box height */
    color: #7F7E7E;
}

.fontLogin {
    text-decoration-line: underline;
    /* Dark green */
    color: #389E0D;

}

.fontForm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;

    color: #000000;
}

.input {
    width: 500px;
    height: 20px;

    background: #FFFFFF;
    /* Grey */
    border-radius: 8px;
    border: transparent;

}

.form {
    /* Frame 1 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px;


    width: 450px;
    height: 40px;

    background: #FFFFFF;
    /* Grey */
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.tablePass {
    width: 420px;
    height: 50px;
    padding-top: 20px;
}

.inputPass {
    width: 170px;
    height: 20px;

    background: #FFFFFF;
    /* Grey */
    border-radius: 8px;
    border: transparent;

}

.formPass {
    /* Frame 1 */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 10px;


    width: 210px;
    height: 40px;

    background: #FFFFFF;
    /* Grey */
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.img {
    object-fit: cover;
}

::placeholder {
    width: 436px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #878787;
}


input[type=checkbox] {

    transform: scale(2);

}

/* Might want to wrap a span around your checkbox text */
.checkboxtext {
    font-family: 'Roboto';
    font-style: normal;

    font-size: 15px;

}

.but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;

    font-size: 18px;
    color: #FFFFFF;

    width: 450px;
    height: 45px;
    background: #389E0D;
    border-radius: 8px;
    border: transparent;
}

.butt {
    padding-top: 40px;
}

.atau {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 450px;
    height: 46px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #878787;
}

.google {
    width: 450px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #389E0D;
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;

}